.price-header{
  margin-top: 30px;
  max-width: 800px;
}

.price-title{
  font-size: 62px;
}

.bootstrap-icon{
  width: 25px;
}
a{
  text-decoration: none;
}

@media screen and (max-width:652px) {
  .navbar-brand{
    width: 100%;
  }
}